#about
    .textbox
        h1
            font-size: 40px
            font-weight: 700
        h3
            color: #6c7785
            font-size: 20px
            margin: 8px 0 58px 0
    .wid
        margin-right: 85px
        .textbox
            text-align: start
    .start
        margin-left: 80px
        .textbox
            text-align: end
    .box
        display: flex
        margin-bottom: 70px
        .textbox
            width: 360px
            h2,h4
                font-weight: 700
                font-size: 30px
                margin-bottom: 10px
            p
                font-size: 19px
                color: #636c74
                line-height: 1.5
        .imgbox
            width: 150px
            height: 150px
            border-radius: 50%
            border: 8px solid #e9ecef
            margin: 0 33px
    .bg
        display: flex
        justify-content: center
        align-items: center
        .bgc
            color: #ffff
            background-color: #ffc800
            width: 150px
            height: 150px
            border: 8px solid #e9ecef
            border-radius: 100%
            font-size: 26px
            padding: 28px 30px
    @media screen and ( max-width: 1200px )
        .box
            margin: 0 0 70px
            .imgbox
                width: 135px
                height: 135px
        .bg
            .bgc
                width: 135px
                height: 135px
    @media screen and ( max-width: 992px )
        .box
            padding: 0 55px 0
            .textbox
                width: 240px
            .imgbox
                width: 120px
                height: 120px
        .bg
            .bgc
                width: 120px
                height: 120px
                padding: 18px 22px
                font-size: 20px
    @media screen and ( max-width: 768px )
        .box
            padding: 8px
            align-items: flex-start
            flex-direction: row-reverse
            .textbox
                width: 450px
                text-align: start
            .imgbox
                width: 80px
                height: 80px
                margin: 0 20px 0 0
        .wid
            flex-direction: row
        .bg
            justify-content: flex-start
            .bgc
                width: 80px
                height: 80px
                padding: 10px
                font-size: 15px
