header
    position: fixed
    padding: 25px 0
    right: 0
    left: 0
    z-index: 1
    background-color: #212529
    .imgbox
        width: 200px
        img
            cursor: pointer
    nav
        cursor: pointer
        a
            font-size: 19px
            color: #8c8999
            margin-right: 30px
        .home-color
            color: #ffc800
    .bg
        background-color: #212529
        margin-bottom: 25px
