header
    position: fixed
    padding: 18px 0
    right: 0
    left: 0
    z-index: 1
    background-color: #212529
    .imgbox
        width: 200px
        img
            cursor: pointer
    nav
        cursor: pointer
        a
            font-size: 19px
            color: #ffff
            margin-right: 30px
            &:hover
                color: #ffc800
                cursor: pointer
        .home-color
            color: #ffc800
    .bg
        background-color: #212529
        margin-bottom: 25px
    @media screen and ( max-width: 992px )
        .menu
            nav
                display: none