#portfolio
    background-color: #f8f9fa
    .box
        background-color: #ffff
        margin-bottom: 24px
        padding-bottom: 24px
    img
        &:hover

            cursor: pointer
    h1
        font-size: 40px
        font-weight: 700
    h3
        color: #6c7785
        font-size: 20px
        margin: 20px 0 58px 0
    .textbox
        text-align: center
        h2
            font-size: 30px
            font-weight: 500
            margin-top: 15px
        h4
            font-size: 16px
            color: #6c7785
            margin-top: 10px
            margin-bottom: 36px
