body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
  height: 100%;
}

section {
  padding: 100px 0;
}

header {
  position: fixed;
  padding: 18px 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #212529;
}
header .imgbox {
  width: 200px;
}
header .imgbox img {
  cursor: pointer;
}
header nav {
  cursor: pointer;
}
header nav a {
  font-size: 19px;
  color: white;
  margin-right: 30px;
}
header nav a:hover {
  color: #ffc800;
  cursor: pointer;
}
header nav .home-color {
  color: #ffc800;
}
header .bg {
  background-color: #212529;
  margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
  header .menu nav {
    display: none;
  }
}

#welcome {
  background-image: url("Assets/section1.jpg");
  background-position: center center;
  background-size: cover;
}
#welcome .box {
  height: 560px;
}
#welcome .box .textbox {
  margin-top: 38px;
}
#welcome .box .textbox h2 {
  font-size: 90px;
  line-height: 1.4;
  color: white;
  font-weight: 700;
}
#welcome .box .textbox h1 {
  font-size: 45px;
  font-weight: 500;
  color: white;
}
#welcome .box .textbox .btn {
  background-color: #ffc800;
  padding: 16px 51px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}
#welcome .box .textbox .btn:hover {
  background-color: #d9aa00;
}
@media screen and (max-width: 576px) {
  #welcome .box .textbox h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 539px) {
  #welcome .box .textbox h2 {
    font-size: 80px;
  }
}

#services .textbox h1 {
  font-size: 40px;
  font-weight: 700;
}
#services .textbox h3 {
  color: #6c7785;
  font-size: 20px;
  margin: 20px 0 58px 0;
}
#services .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}
#services .textbox p {
  color: #6c7785;
  font-size: 20px;
  line-height: 1.4;
}
#services .minibox {
  display: flex;
  justify-content: center;
}
#services .minibox .icon {
  width: 130px;
  height: 130px;
  background-color: #ffc800;
  border-radius: 100%;
  margin-right: 30px;
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #services .minibox {
    padding: 10px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio .box {
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 400px;
  height: 400px;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc800;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .box .imgbox li .txt {
  color: white;
  font-size: 125px;
  cursor: pointer;
}
#portfolio .box .imgbox li:hover {
  opacity: 0.9;
  transition: 0.8s;
}
#portfolio img:hover {
  cursor: pointer;
}
#portfolio h1 {
  font-size: 40px;
  font-weight: 700;
}
#portfolio h3 {
  color: #6c7785;
  font-size: 20px;
  margin: 20px 0 58px 0;
}
#portfolio .textbox {
  text-align: center;
}
#portfolio .textbox h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
}
#portfolio .textbox h4 {
  font-size: 20px;
  color: #6c7785;
  margin-top: 10px;
  margin-bottom: 36px;
}

#about .textbox h1 {
  font-size: 40px;
  font-weight: 700;
}
#about .textbox h3 {
  color: #6c7785;
  font-size: 20px;
  margin: 8px 0 58px 0;
}
#about .wid {
  margin-right: 85px;
}
#about .wid .textbox {
  text-align: start;
}
#about .start {
  margin-left: 80px;
}
#about .start .textbox {
  text-align: end;
}
#about .box {
  display: flex;
  margin-bottom: 70px;
}
#about .box .textbox {
  width: 360px;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
#about .box .textbox p {
  font-size: 19px;
  color: #636c74;
  line-height: 1.5;
}
#about .box .imgbox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid #e9ecef;
  margin: 0 33px;
}
#about .bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .bg .bgc {
  color: white;
  background-color: #ffc800;
  width: 150px;
  height: 150px;
  border: 8px solid #e9ecef;
  border-radius: 100%;
  font-size: 26px;
  padding: 28px 30px;
}
@media screen and (max-width: 1200px) {
  #about .box {
    margin: 0 0 70px;
  }
  #about .box .imgbox {
    width: 135px;
    height: 135px;
  }
  #about .bg .bgc {
    width: 135px;
    height: 135px;
  }
}
@media screen and (max-width: 992px) {
  #about .box {
    padding: 0 55px 0;
  }
  #about .box .textbox {
    width: 240px;
  }
  #about .box .imgbox {
    width: 120px;
    height: 120px;
  }
  #about .bg .bgc {
    width: 120px;
    height: 120px;
    padding: 18px 22px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  #about .box {
    padding: 8px;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  #about .box .textbox {
    width: 450px;
    text-align: start;
  }
  #about .box .imgbox {
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
  }
  #about .wid {
    flex-direction: row;
  }
  #about .bg {
    justify-content: flex-start;
  }
  #about .bg .bgc {
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: 15px;
  }
}

#ourTeam {
  background-color: #f8f9fa;
}
#ourTeam h1 {
  font-size: 52px;
  font-weight: 600;
}
#ourTeam h3 {
  color: #6c7785;
  font-size: 20px;
  margin: 20px 0 58px 0;
}
#ourTeam img {
  height: 220px;
  width: 220px;
  border-radius: 100%;
  border: 10px solid #d4d8de;
}
#ourTeam .box {
  margin: 0 5px;
}
#ourTeam .box .textbox {
  padding: 15px;
  text-align: center;
}
#ourTeam .box h2 {
  font-weight: 700;
  font-size: 28px;
  padding: 10px 0 0;
}
#ourTeam .box h4 {
  font-weight: 300;
  font-size: 20px;
  color: #a8a8a8;
  margin: 8px 1px;
  line-height: 1.4;
}
#ourTeam .box ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#ourTeam .box ul li {
  margin: 0 10px;
  background-color: #000000;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#ourTeam .box ul li .icon {
  margin: -7px;
  color: white;
}
#ourTeam .box ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
#ourTeam p {
  color: #6c757d;
  font-size: 29px;
  line-height: 1.4;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  #ourTeam ul {
    margin-bottom: 42px;
  }
}

#microsoft {
  padding: 60px 0;
}
#microsoft .imgbox {
  width: 140px;
}
#microsoft img {
  cursor: pointer;
}
#microsoft .mic {
  width: 200px;
}
#microsoft .goog {
  width: 140px;
}
#microsoft .ibm {
  width: 140px;
}
#microsoft .fb {
  width: 160px;
}
@media screen and (max-width: 768px) {
  #microsoft .box .imgbox {
    margin: 16px 0;
  }
}

#contactUs {
  background-image: url("Assets/last.png");
  background-position: center center;
  background-color: #212529;
  background-size: cover;
}
#contactUs .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-bottom: 18px;
}
#contactUs .textbox h2 {
  color: #6c7785;
  font-size: 20px;
}
#contactUs .minibox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#contactUs .minibox input {
  padding: 25px;
  font-size: 17px;
  margin: 16px 0;
  font-weight: 700;
}
#contactUs .box {
  margin-top: 66px;
  display: flex;
}
#contactUs .box textarea {
  color: #ced4da;
  padding: 11px;
  font-weight: 700;
  border-radius: 5px;
}
#contactUs .btn {
  background-color: #ffc800;
  padding: 20px 53px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  #contactUs .box {
    margin: 13px 0;
    height: 180px;
  }
}

footer {
  padding: 30px 0;
}
footer .minibox ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .minibox ul li {
  margin: 0 10px;
  background-color: #000000;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
footer .minibox ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
footer .minibox ul li .icon {
  margin: -7px;
  color: white;
}
footer h2, footer h3 {
  color: #5d6566;
  font-size: 15px;
  margin: 11px 0;
}
footer h2:hover, footer h3:hover {
  cursor: pointer;
}
footer h2 {
  margin-right: 21px;
}/*# sourceMappingURL=style.css.map */